.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px;
  background: linear-gradient(#009645, #17e56ddc);
}

img{
  grid-column: 1/ 5;
  padding: 20px;
  max-width: 100%;
  cursor: pointer;
}

img:hover {
  opacity: 0.9;
}
